* {
  box-sizing: border-box;
  font-family: Poppins;
  font-style: normal;
}

body {
  margin: 0;
}

.nav {
  position: relative;
  width: 100vw;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  padding: 22px 30px;
  z-index: 1;
}

.container {
  width: 60%;
  margin: 0px auto;
  padding-left: 36px;
}

.nav--logo {
  width: 82px;
  margin-left: -36px;
}

.hero--photoGrid {
  margin: 0px 77px 32px;
  padding-top: 26px;
}

.hero--photoGrid--img {
  width: 395px;
}

.hero--text {
  text-align: left;
  margin: 36px auto 49px 0px;
}

.hero--text h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
}

.hero--text h2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
  width: 320px;
}

.card {
  width: 176px;
  margin-right: 18px;
}

.card--img {
  width: 100%;
}

.image-wrapper {
  position: relative;
}

.card--img--status {
  position: absolute;
  top: 2%;
  left: 3%;
  width: 35%;
  height: 8%;
  background-color: #ffffff;
  border-radius: 2px;
  font-size: 10.24px;
  text-align: center;
  line-height: 19px;
}

.card--details--reviews {
  display: flex;
  align-items: center;
  height: 14px;
}

.card--details--reviews--star {
  width: 14px;
}

.card--details--reviews--rating {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  margin-left: 2px;
}

.card--details--reviews--count {
  font-weight: 300;
  color: #918e9b;
  margin-left: 2px;
  font-size: 12px;
}

.card--details--reviews--location {
  margin-left: 2px;
  margin-right: auto;
  font-weight: 300;
  color: #918e9b;
  font-size: 12px;
}

.card--details--lesson-name {
  font-weight: 300;
  font-size: 12px;
  line-height: 110%;
  color: #222222;
  margin-top: 8px;
}

.card--details--price {
  margin-top: 8px;
  font-size: 12px;
}

.cards {
  display: flex;
  margin-bottom: 40px;
}
